body {
  height: 100vh;
  background-image: url("https://www.shutterstock.com/image-photo/calendar-2025-year-schedule-blank-600nw-2483159669.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: blue;
  background-color: yellow;
  border: 10px dashed blue;
  border-radius: 30px;
  max-width: 50%;
  font-size: 200%;
  font-family: "Segoe UI", sans-serif;
  margin-top: 5%;
  margin-left: 8%;
  padding: 2%;

  .title{
    margin: 1px 0;
  }

  .boxTask {
    display: flex;
    gap: 4%;
    margin-bottom: 20px;

    .input {
      font-size: 90%;
      background-color: blue;
      border-color: blue;
      border-radius: 10px;
      color: white;
      padding: 2%;
      &.inValidInput {
        background-color: red;
      }
    }
    .btnAdd {
      font-size: 100%;
      background-color: white;
      border-color: white;
      border-radius: 10px;
      color: blue;
      padding: 2%;
      margin-right: 2%;
    }
    .btnAdd:hover {
      background-color: bisque;
      border-color: bisque;
    }
  }

  .listTasks {
    display: flex;
    gap: 4%;
    margin-top: 4%;
    margin-bottom: 10px;

    .listText {
      font-size: 70%;
      padding: 1%;
      border-radius: 10px;
      border: none;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }
    .btnList {
      font-size: 100%;
      background-color: white;
      border-color: white;
      border-radius: 10px;
      color: blue;
    }
    .btnList:hover {
      background-color: bisque;
      border-color: bisque;
    }
  }
}

@media (max-width: 1202px) {
  .container {
    max-width: 80%;
    font-size: 150%;
  }
}

@media (max-width: 627px) {
  .container {
    font-size: 100%;
  }
}

@media (max-width: 464px) {
  .container {
    font-size: 80%;
  }
}
